@media (max-width:720px) {
    .texto2 {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
    }

    @media only screen and (min-width: 0px) {
        .ada {
            display: none;
        }
    }

    @media only screen and (min-width: 0px) {
        .buzz {
            display: none;
        }
    }

    @media only screen and (min-width: 0px) {
        .thor {
            display: none;
        }
    }

    .DoctorImagenes img {
        width: 400px;
    }

    .aquaman2 img {
        width: 400px;
    }

    .DoctorImagenes {
        display: flex;
        justify-content: center;
    }

    .aquaman2 {
        display: flex;
        justify-content: center;
    }

    .trailerImagenes h3 {
        color: white;
    }



    .trailerImagenes img {
        width: 270px;
    }

    .AquamanTexto2 {
        display: flex;
        justify-content: center;
        color: white;
        margin: 10px;
    }

    .notices p {
        color: white;
        display: flex;
    }

    .notices h2 {
        color: white;
        display: flex;
    }

    .notices {
        display: flex;
        flex-direction: column;
    }

    .notices img {
        width: 300px;
    }

    .theboysNoticias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .johnyNoticias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .johnny2Noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenTheboys {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:720px) {
    .NoticiasMenu h2 {
        display: flex;
        justify-content: center;
        height: 50px;
        font-size: 2.5rem;
    }

    .top h2 {
        font-size: 2rem;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        margin: 20px;
    }

    .TituloTop h2 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: white;
        margin: 30px;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .notices h2 {
        font-family: 'Montserrat', sans-serif;
        margin: 10px;
        color: white;
        text-align: center;
    }

    .Trailer h2 {
        font-family: 'Montserrat', sans-serif;
        margin: 20px;
        color: white;
    }

    .TituloAquaman h2 {
        font-size: 2rem;
    }

    .MainTexto h2 {
        font-size: 2rem;
    }

    .maintop h2 {
        font-family: 'Roboto', sans-serif;
    }

    .MainNoticias h2 {
        font-family: 'Roboto', sans-serif;
    }

    .Trailer h2 {
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
    }

    .Trailer h3 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin: 20px;
    }

    .cinefilo p {
        width: 600px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
        padding: 10px;
    }

    .top p {
        width: 1000px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .notices p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
        margin: 10px;
        color: white;
        text-align: center;
    }

    .Trailer p {
        width: 900px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
        margin: 10px;
        color: white;
    }

    .MainNoticias p {
        font-family: 'Montserrat', sans-serif;
    }

    .ParrafoDoctor {
        padding: 10px;
        width: 500px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.226);
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    .ImagenTexto {
        font-family: 'Montserrat', sans-serif;
        display: flex;
    }

    .titulo1 {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        height: 100px;
        font-size: 1.5rem;
    }

    .TituloStrange {
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .texto2 {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
    }

    .TituloAquaman {
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .AquamanTexto2 {
        display: flex;
        justify-content: center;
        color: white;
        margin: 10px;
    }
}